{% extends "AlbumReviewAlbumReviewBundle::layout.html.twig" %}

{% block title %}AlbumReviewAlbumReviewBundle:Page:index{% endblock %}

{% block body %}

    {% if app.request.query.has('error') %}
        <div class="alert alert-danger" role="alert">{{ app.request.query.get('error') }}</div>
    {% elseif app.request.query.has('success') %}
        <div class="alert alert-success" role="alert">{{ app.request.query.get('success') }}</div>
    {% endif %}
    <div class="album_display">
        {% for entry in entries %}
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('uploads/images/' ~ entry.image) }}" width='200' height='200'>
                <div class="card-body">
                    <h3><a href="{{ path('album_view',{id : entry.id}) }}">
                            {{ entry.title | title }}</a></h3>
                    <p>{{ entry.artist| nl2br }}</p>

                    <p>
                        <small>Created by {{ entry.reviewer }} at
                            {{ entry.timestamp | date('H:i d/m/y') }}</small>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="navigation  text-center">
        {{ knp_pagination_render(entries) }}
    </div>
{% endblock %}