{% extends 'AlbumReviewAlbumReviewBundle::layout.html.twig' %}

{% block title %}Edit a blog entry{% endblock %}
{% block body %}
    <h1>Edit a Album entry</h1>
    {% if error is defined %}
        {% if error is not empty %}
            <div class="alert alert-danger" role="alert">{{  error }}</div>
        {% endif %}
    {% endif %}
    {{ form_start(form) }}
    {{ form_row(form.artist, { 'attr':{'readonly':'readonly', 'class': 'disable_edit_artist'}}) }}
    {{ form_end(form) }}
    <p><a href="{{ path('album_delete',{id: entry.id}) }}">delete</a></p>
{% endblock %}