{% extends 'AlbumReviewAlbumReviewBundle::layout.html.twig' %}


{% block title %}{{ entry.title }}{% endblock %}
{% block body %}
    <h1>{{ entry.title }}</h1>
    <h1>{{ entry.artist}}</h1>
    <img src="{{ asset('uploads/images/' ~ entry.image) }}" width='200' height='200'>
    <p>{{ entry.trackList }}</p>
    <p>{{ entry.review|nl2br }}</p>
    <p><small>Created by {{ entry.reviewer }}  at
            {{ entry.timestamp|date('H:i d/m/y') }}</small>
        <a href="{{ path('album_edit',{'id':entry.id}) }}">Edit</a>
        <a href="{{ path('create_review',{'id':entry.id}) }}">Add review</a>
    </p>
    {% for review in reviews %}
        <article>
            <p>{{ review.review | nl2br }}</p>
            <p>
                <small>Reviewed by {{ review.albumreviewer }} at
                    {{ review.timestamp | date('H:i d/m/y') }}
                    <a href="{{ path('edit_review',{'id':review.id}) }}">edit</a>
                    <a href="{{ path('delete_review',{'id':review.id}) }}">delete</a>
                </small>
            </p>
        </article>
    {% endfor %}
{% endblock %}