{% extends "AlbumReviewAlbumReviewBundle::layout.html.twig" %}

{% block title %}AlbumReviewAlbumReviewBundle:Page:index{% endblock %}

{% block body %}
    <div class="alert alert-info" role="alert">
        You have created <span class="badge badge-secondary">{{ noOfAlbums }}</span> album/s
        <a href="{{ path('album_create') }}" class="badge badge-primary">CREATE ALBUM</a>
    </div>
    <div class="user_roles">
        <p>Role/s Assigned:</p>
        {% for role in roles %}
            <span class="badge badge-secondary">{{ role }}</span>
        {% endfor %}
    </div>

    <div class="album_display">
        {% for entry in entries %}
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('uploads/images/' ~ entry.image) }}" width='200' height='200'>
                <div class="card-body">
                    <h3><a href="{{ path('album_view',{id : entry.id}) }}">
                            {{ entry.title | title }}</a></h3>
                    <p>{{ entry.artist| nl2br }}</p>

                    <p>
                        <small>Created by {{ entry.reviewer }} at
                            {{ entry.timestamp | date('H:i d/m/y') }}</small>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}